@import "gruvbox.css";

* {
  font-family: "MesloLGS Nerd Font", Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 13px;
  transition-property: background-color;
  transition-duration: 0.5s;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px @fg;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: @fg;
}

#workspaces button:hover {
  background: @bg_s;
}

#workspaces button.active {
  color: @purple;
  box-shadow: inset 0 -3px @purple-dim;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio {
  padding: 0 10px;
}

#pulseaudio {
  color: @red;
}

#network {
  color: @yellow;
}

#temperature {
  color: @aqua;
}

#cpu {
  color: @orange;
}

#memory {
  color: @blue;
}

.custom-spotify {
  color: @gray;
}

.custom-spotify-playing {
  color: @green;
}

#clock {
  color: @fg;
}

#window {
  color: @fg;
}

#waybar.empty #window {
  background: none;
}

.modules-right,
.modules-left,
#window {
  background-color: @bg_h;
  border-radius: 15px;
}

.modules-right {
  padding: 0 10px;
}

.modules-left {
  padding: 0 20px;
}

#window {
  padding: 0 10px;
}

#pulseaudio.muted {
  color: @gray;
}
